@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0.9375rem 2.6525rem;
    border: 2.75px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #000000;
    font-family: 'Roboto';
    &:hover {
        opacity: .9;
    }
}

.btn--green {
    background-color: #52e1c5;
    color: black;
    font-weight: 900;
}

.btn--orange {
    background-color: #ffa386;
    color: black;
    font-weight: 900;
}

.btn--orange-menu {
    color: #fff;
    background-color: #ffa386;
    font-weight: 900;
}

#home-page {
    font-family: "Montserrat";
    .wrapper {
        margin: 0 1.5625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        z-index: 100;
        display: flex;
        position: fixed;
        width: 100%;
        align-items: center;
        height: 5rem;
        background-color: #fff;
        box-shadow: 0 4px 13px rgba(0,0,0, .1);
        &__logo {
            height: 3rem;
        }
        &__web-menu {
            display: none;
        }
    }
    .section-hero {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 5rem);
        padding-top: 5rem;
        &__top {
            padding: 0 1.5625rem;
            background: rgb(28,183,153);
            background: linear-gradient(180deg, rgba(28,183,153,1) 0%, rgba(0,75,255,1) 100%);
        }
        &__bottom {
            margin: 0 1.5625rem;
        }
        &__image {
            object-fit: contain;
            width: 100%;
            margin: 2.5rem 0 1.75rem 0;
        }
        &__desc {
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            &__title {
                font-weight: 900;
                line-height: 2.925rem;
                font-size: 2.0625rem;
                color: #FFF7E9;
            }
            &__text {
                font-weight: 600;
                line-height: 1.875rem;
                font-size: 1.3125rem;
                margin-top: 0.8625rem;
                margin-bottom: 3rem;
            }
            .hero-watch {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1.5rem;
                margin-bottom: 3rem;
                line-height: 1rem;
                a {
                    color: #fff;
                    font-size: 0.7125rem;
                    font-weight: 400;
                }
            }
            .icon-play {
                height: 1rem;
                margin-right: 0.64375rem;
            }
        }
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-weight: 600;
            margin-bottom: 3rem;
            &__item {
                width: 10.375rem;
                margin-top: 3rem;
                &__image {
                    width: 4.25rem;
                    margin-bottom: 0.8125rem;
                }
            }
        }
    }
    .section-entrepreneurs {
        padding: 0 1.5rem;
        margin-bottom: 3.125rem;
        &__image {
            width: 100%;
        }
        &__desc {
            &__title {
                font-weight: 800;
                font-size: 2.0625rem;
                line-height: 2.68125rem;
                text-align: center;
                color: #16306F;
           }
           &__sub-title {
                margin-top: 0.76875rem;
                font-weight: 700;
                font-size: 1.3125rem;
                line-height: 2rem;
                color: #202423;
            }
            &__text {
                margin-top: 1.5rem;
                font-weight: 500;
                line-height: 1.3rem;
                color: #2F3433;
           }
        }
    }
    .section-message {
        padding: 3rem 0;
        color: #fff;
        background: rgb(28,183,153);
        background: linear-gradient(180deg, rgba(28,183,153,1) 0%, rgba(0,75,255,1) 100%);
        &__image {
            width: 100%;
            margin-bottom: 2rem;
        }
        &__desc {
            padding:  0 1.5rem;
            &__title {
                font-weight: 700;
                font-size: 1.3125rem;
                line-height: 2rem;
                text-align: center;
           }
            &__text {
                margin-top: 1.5rem;
                font-weight: 500;
                line-height: 1.3rem;
           }
        }
    }
    .section-build-marketing {
        padding:  0 1.8rem 3rem 1.8rem;
        
        &__title {
            margin-top: 3rem;
            font-weight: 800;
            font-size: 2.0625rem;
            line-height: 2.68125rem;
            text-align: center;
            color: #16306F;
        }
        &__sub-title {
            margin-top: 0.76875rem;
            font-weight: 400;
            font-size: 1.3125rem;
            line-height: 2rem;
            color: #242827;
        }
        &__info {
            &:nth-of-type(2), &:nth-of-type(3) {
                display: none;
            }
            &__image {
                width: 100%;
            }
            &__desc {
                &__title {
                    margin-top: 2rem;
                    font-size: 2rem;
                    line-height: 2.4375rem;
                    color: #15438A;
                    text-align: center;
                }
                &__text {
                    margin-top: 2rem;
                    color: #292E2D;
                    line-height: 1.3rem;
                }
                &__list {
                    list-style: none;
                    margin-top: 2rem;
                    &__item {
                        position: relative;
                        margin-bottom: 0.6875rem;
                        margin-left: 2rem;
                        &:before {
                            content: '';
                            position: absolute;
                            background: url('/assets/check.png');
                            height: 1.5rem;
                            width: 1.5rem;
                            display: block;
                            top: -2px;
                            left: -2rem;
                        }
                    }
                }
            }
        }
    }

    .section-get-started {
        color: #fff;
        padding: 3.3rem 0 5.5rem 0;
        background: rgb(28,183,153);
        background: linear-gradient(180deg, rgba(28,183,153,1) 0%, rgba(0,75,255,1) 100%);
        &__title {
            font-size: 2.0625rem;
            text-align: center;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icons {
            margin-top: 3rem;
            margin-bottom: 2.625rem;
            width: 13.375rem;
        }
        &__icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;
            &__image {
                width: 6.5rem;
            }
            &__text {
                text-align: center;
            }
        }
    }
    .section-feedback {
        padding-top: 5rem;
        &__title {
            color: #15438A;
            font-size: 2.0625rem;
            line-height: 2.625rem;
            font-weight: 800;
            text-align: center;
            margin: 0rem 2rem 3rem 2rem;
        }
        &__slide {
            padding: 2rem 1.5rem;
            width: 100%;
            background: rgb(239,244,255);
            background: linear-gradient(180deg, rgba(239,244,255,1) 0%, rgba(214,227,255,1) 100%);
            &__text {
                color: #353B3A;
                line-height: 1.70625rem;
                font-size: 1.3125rem;;
                font-weight: 500;
            }
            &__image {
                height: 8rem;
                margin-bottom: 1rem;
            }
            &__info {
                margin-top: 2rem;
                margin-bottom: 1rem;
                &__name {
                    margin-top: .75rem;
                    position: relative;
                    color: #242827;
                    font-weight: 900;
                    &::before {
                        content: '';
                        position: absolute;
                        height: 0.75rem;
                        width: 3.125rem;
                        background: #FDD05E;
                        display: block;
                        top: -20px;
                        left: 0;
                    }
                }
                &__job {
                    margin-top: 0.375rem;
                    color: #242827;
                    font-weight: 600;
                }
            }
        }
    }
    .section-bottom {
        margin-top: 11rem;
        padding: 3rem 0;
        background: rgb(28,183,153);
        background: linear-gradient(180deg, rgba(28,183,153,1) 0%, rgba(0,75,255,1) 100%);
        &__image {
            width: 100%;
            padding: 0 1.5rem;
        }
        &__info {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 1.5rem;
            &__title {
                margin-top: 2rem;
                font-size: 2.125rem;
                color: #FFF7E9;
                line-height: 2.925rem;
            }
            &__text {
                margin-top: 0.8625rem;
                color: #fff;
                font-size: 1.3125rem;
                margin-bottom: 3rem;
            }
            .hero-watch {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1.5rem;
                line-height: 1rem;
                a {
                    color: #fff;
                    font-size: 0.7125rem;
                    font-weight: 400;
                }
                .icon-play {
                    height: 1rem;
                    margin-right: 0.64375rem;
                }
            }
        }
    }
    .footer {
        background: #4B4B52;
        color: #fff;
        &__grid-container {
            display: grid;
            grid-template-columns: repeat(24, minmax(auto, 60px));
            &__logo {
                grid-column-end: span 24;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 3rem;
                margin-bottom: 2.75rem;
                &__image {
                    width: 10.75rem;
                    margin-bottom: 1.25rem;
                }
                &__text {
                    width: 10.75rem;
                    font-weight: 400;
                    line-height: 1.1375rem;
                    font-size: 0.75rem;
                }
            }
            &__product, &__company, &__support, &__legal  {
                grid-column-end: span 12;
            }
            &__social-icons {
                grid-column-end: span 24;
                display: flex;
                justify-content: center;
                gap: 1rem;
                margin-top: 1.5rem;
                margin-bottom: 2.75rem;
            }
            &__social-icons--desktop {
                display: none;
            }
            &__copyrights {
                grid-column-end: span 24;
                font-size: 0.875rem;
                text-align: center;
                font-weight: 400;
                line-height: 1.625rem;
                padding: 0 3.5rem;
                margin-bottom: 2rem;
            }
        }
        &__list {
            list-style: none;
            text-align: center;
            margin-bottom: 2rem;
            a {
                color: #fff;
            }
            &__item {
                margin-bottom: 0.375rem;
                font-size: 0.875rem;
                line-height: 1.4375rem;
                font-weight: 400;
                &:first-of-type {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}

/* SwiperJS Override */

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}
.swiper-pagination-bullet-active {
    background: #858e96;
}

/* Bigger Screens */

@media only screen and (min-width: 46rem) {
    #home-page {
        .header {
            .wrapper {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
            }
            &__web-menu {
                display: block;
                &__item {
                    margin-left: 2.5rem;
                    color: #202423;
                    font-weight: 600;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
        .section-hero {
            background: url("/assets/hero.png") no-repeat;
            background-position: 50% calc(0% + 5rem);
            background-size: contain;
            &__top {
                display: flex;
                flex-direction: row-reverse;
                padding: 4rem 0;
                max-width: 85%;
                width: 990px;
                margin: 0 auto;
                background: none;
                padding-bottom: 0;
            }
            &__image {
                width: 50%;
                margin: 0;
            }
            &__desc {
                width: 50%;
                align-items: flex-start;
                text-align: left;
                &__title {
                    font-size: 2.8125rem;
                    line-height: 3.65625rem;
                    margin-right: 3.2rem;
                }
                &__text {
                    width: 70%;
                    margin-bottom: 1.375rem;
                }
            }
            &__bottom {
                padding-top: 6rem;
                max-width: 85%;
                width: 990px;
                margin: 0 auto;
            }
            &__icons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: baseline;
            }
        }
        .section-entrepreneurs {
            position: relative;
            &:before {
                content: ""; 
                position: absolute;
                top: -15rem;
                left: 0;
                width: 37.375rem;
                height: 43.8125rem;
                background: url("/assets/ellipse-1.png") no-repeat;
            }
            &:after {
                content: ""; 
                position: absolute;
                right: 0;
                bottom: -15rem;
                width: 25.375rem;
                height: 28.8125rem;
                background: url("/assets/ellipse-2.png") no-repeat;
                background-size: contain;
                background-position: right;
            }
            margin-top: 8rem;
            .wrapper {
                display: flex;
                flex-direction: row;
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
            }
            &__image {
                width: 50%;
                object-fit: contain;
            }
            &__desc {
                width: 50%;
                &__title {
                    text-align: left;
                    font-size: 2.8125rem;
                    line-height: 3.625rem;
                }
            }
        }
        .section-message {
            background: url("/assets/wavy-back-1.png") no-repeat;
            background-size: 100% 100%;
            padding: 6rem 0;
            .wrapper {
                display: flex;
                flex-direction: row-reverse;
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
            }
            &__desc {
                width: 50%;
                object-fit: contain;
                &__title {
                    text-align: left;
                }
            }
            &__image {
                padding: 5rem;
                width: 50%;
            }
        }
        .section-build-marketing {
            .wrapper {
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
		overflow: hidden;	
            }
            margin-top: 5rem;
            &__title {
                font-size: 2.8125rem;
            }
            &__sub-title {
                margin-top: 0.75rem;
                width: 50%;
                text-align: center;
            }
            &__info {
                &:nth-of-type(2) {
                    display: flex;
                    flex-direction: row-reverse;
                    position: relative;
                    &:after {
                        content: ""; // ::before and ::after both require content
                        position: absolute;
                        top: -10%;
                        left: -30vw;
                        width: 130vw;
                        height: 120%;
                        background: url("/assets/wavy-purple.png") no-repeat;
                        background-size: 100% 100%;
                        z-index: -999;
                    }
                    &:before {
                        content: ""; 
                        position: absolute;
                        top: -15rem;
                        left: -15vw;
                        width: 37.375rem;
                        height: 43.8125rem;
                        background: url("/assets/ellipse-3.png") no-repeat;
                        background-position: left;
                    }
                }
                
                &:nth-of-type(3) {
                    display: flex;
                }
                margin-top: 5rem;
                display: flex;
                &__image {
                    padding: 5rem;
                    padding-top: 3rem;
                    width: 50%;
                    object-fit: contain;
                }
                &__desc {
                    width: 50%;
                    &__title {
                        text-align: left;
                    }
                }
            }
        }
        .section-get-started {
            position: relative;
            &:before {
                content: ""; 
                position: absolute;
                bottom: -30rem;
                left: 0;
                width: 37.375rem;
                height: 43.8125rem;
                background: url("/assets/ellipse-1.png") no-repeat;
            }
            &:after {
                content: ""; 
                position: absolute;
                right: 0;
                top: -15rem;
                width: 25.375rem;
                height: 28.8125rem;
                background: url("/assets/ellipse-2.png") no-repeat;
                background-size: contain;
                background-position: right;
            }
            background: url("/assets/wavy-back-2.png") no-repeat;
            background-size: 100% 100%;
            padding-top: 6rem;
            .wrapper {
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
            }
            &__icons {
                margin-top: 4rem;
                display: flex;
                width: 100%;
                justify-content: space-around;
            }
            &__icon {
                width: 14rem;
            }
        }
        .section-feedback {
            &__slide {
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
                background: #fff;
                padding: 0 5rem;
                display: flex;
                flex-direction: row-reverse;
                &__text {
                    width: 60%;
                    display: flex;
                    align-items: center;
                }
                &__info {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-right: 3rem;
                    text-align: center;
                    &__name {
                        &::before {
                            content: '';
                            background: #fff;
                        }
                    }
                }
                &__image {
                    object-fit: contain;
                }
            }
        }
        .section-bottom {
            background: url("/assets/wavy-back-3.png") no-repeat;
            background-size: 100% 100%;
            .wrapper {
                flex-direction: row-reverse;    
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
                margin-top: 5rem;
            }
            &__info {
                align-items: flex-start;
                text-align: left;
                width: 60%;
                margin-bottom: 6rem;
            }
            &__image {
                width: 40%;
                object-fit: contain;
                padding: 2rem;
            }
        }
        .footer {
            background: #4B4B52;
            color: #fff;
            &__grid-container {
                max-width: 90%;
                width: 990px;
                margin: 0 auto;
                margin-top: 5rem;
                &__logo {
                    grid-column-end: span 8;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    &__image {
                        width: 10.75rem;
                        margin-bottom: 1.25rem;
                    }
                    &__text {
                        width: 10.75rem;
                        font-weight: 400;
                        line-height: 1.1375rem;
                        font-size: 0.75rem;
                    }
                }
                &__product, &__company, &__support, &__legal  {
                    grid-column-end: span 4;
                }
                &__social-icons {
                    display: none;
                }
                &__social-icons--desktop {
                    display: flex;
                    gap: 1rem;
                }
                &__copyrights {
                    grid-column-end: span 24;
                    font-size: 0.875rem;
                    text-align: center;
                    font-weight: 400;
                    line-height: 1.625rem;
                    padding: 0 3.5rem;
                    margin-top: 5rem;
                }
            }
            &__list {
                list-style: none;
                text-align: left;
                margin-bottom: 2rem;
                a {
                    color: #fff;
                }
                &__item {
                    margin-bottom: 0.375rem;
                    font-size: 0.875rem;
                    line-height: 1.4375rem;
                    font-weight: 400;
                    &:first-of-type {
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
        .swiper-button-next, .swiper-button-prev {
            display: block;
            color: #5CD2E7;
        }
        .swiper-button-next {
            right: 5rem;
        }
        .swiper-button-prev {
            left: 5rem;
        }
        .swiper-pagination-bullet {
            display: none;
        }
    }
}

@media only screen and (min-width: 40rem) {
    #home-page {
        .section-hero {
            background: rgb(28,183,153);
            background: linear-gradient(180deg, rgba(28,183,153,1) 0%, rgba(0,75,255,1) 100%);
            &__icons__item__text {
                color: #fff;
            }
            &__top{
                padding-bottom: 0;
            }
            &__bottom {
                padding-top: 0;
            }
        }
    }
}
