disable-scroll {
	overflow: hidden;
}

.bm-item {
	display: inline-block;

	/* Our sidebar item styling */
	text-decoration: none;
	margin-bottom: 1.5rem;
	color: #ffa386;
	transition: color 0.2s;
	font-family: "Montserrat";
	font-weight: 600;
	outline: none;
	font-size: 1.3rem;
}

.bm-item:hover {
	color: white;
}

.bm-burger-button {
	position: fixed;
	width: 34px;
	height: 26px;
	right: 25px;
	top: 32px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #ffa386;
	border-radius: 16px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 34px !important;
	width: 34px !important;
	right: 26px !important;
	top: 23px !important;
	color: #fff;
}

.bm-cross {
	height: 34px !important;
	background-color: #ffa386;
	width: 4px !important;
}

/* General sidebar styles */
.bm-menu {
	background: #f1ebe9;
    font-size: 1.15rem;
    position: relative;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #b8b7ad;
	font-family: Arial, Helvetica, sans-serif;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.05) !important;
}

@media only screen and (min-width: 46rem) {
	.bm-burger-button {
		display: none !important;
	}
}
